<!doctype html>
<html>
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>Hello there!</h1>
		<p>General Kenobi!</p>
		<form action="/#" method="post">
			<p>Sepal length:</p>
			<p><input type="number" step="0.1" name="sl"/></p>
			<p>Sepal width:</p>
			<p><input type="number" step="0.1" name="sw"/></p>
			<p>Petal length:</p>
			<p><input type="number" step="0.1" name="pl"/></p>
			<p>Petal width:</p>
			<p><input type="number" step="0.1" name="pw"/></p>
			<p><input type="submit" value="Submit" name="submit_iris" /></p>
		</form>
		<p>{{result}}</p>
	</body>
</html>